.page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: var(--white);
}

.up-div {
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.489), rgba(255, 255, 255, 0.189), rgba(255, 255, 255, 0.489));
    border: .1rem solid rgba(0, 0, 0, 0.178);
    border-radius: 1rem;
    box-shadow: .2rem .2rem .2rem rgba(0, 0, 0, 0.158),
                -.2rem -.2rem .4rem rgba(255, 255, 255, 0.067),
                inset -.1rem -.1rem .1rem rgba(0, 0, 0, 0.267),
                inset .1rem .1rem .1rem rgba(255, 255, 255, 0.067);
}

.flex {
    display: flex; 
}

.off {
    display: none;
}