.page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: var(--white);
}

.up-div {
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.489), rgba(255, 255, 255, 0.189), rgba(255, 255, 255, 0.489));
    border: .1rem solid rgba(0, 0, 0, 0.178);
    border-radius: 1rem;
    box-shadow: .2rem .2rem .2rem rgba(0, 0, 0, 0.158),
                -.2rem -.2rem .4rem rgba(255, 255, 255, 0.067),
                inset -.1rem -.1rem .1rem rgba(0, 0, 0, 0.267),
                inset .1rem .1rem .1rem rgba(255, 255, 255, 0.067);
}

.flex {
    display: flex; 
}

.off {
    display: none;
}

.pokemonFont {
    font-family: "pokemonSolid";
    color: yellow;
    text-shadow: blue 2px 0px 0px, blue 1.75517px 0.958851px 0px, blue 1.0806px 1.68294px 0px, blue 0.141474px 1.99499px 0px, blue -0.832294px 1.81859px 0px, blue -1.60229px 1.19694px 0px, blue -1.97998px 0.28224px 0px, blue -1.87291px -0.701566px 0px, blue -1.30729px -1.5136px 0px, blue -0.421592px -1.95506px 0px, blue 0.567324px -1.91785px 0px, blue 1.41734px -1.41108px 0px, blue 1.92034px -0.558831px 0px;
}