.configuration {
    width: 90%;
    height: 40rem;
}

.configuration .player {
    height: 60%;
    width: 20rem;
}

.configuration .options {
    width: 10rem;
    height: 8rem;
}

.starterPlayer {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: 10rem;
    border: 1px solid black;
}

.starterPlayer button {
    width: 5rem;
    height: 5rem;
}

.starterPlayer button img {
    width: 100%;
}