/* Imports */
@import url('./generalStyles.css');
@import url('./menu.css');
@import url('./game.css');
@import url('./newGame.css');
@import url('./victory.css');
@import url('./rules.css');

/* Basic Styles */
* {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

button, a, .box {
    cursor: pointer;
}
::-webkit-scrollbar {
    height: 70%;
    width: 15px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 255, 242);
    width: 10px;
    transition: .2s;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 26, 255);
  }